@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

/* ------------------------------------- */
/* -----------CURRICULUM---------------- */
/* ------------------------------------- */
.publicationsbox {
    background-image: url('images/background.png');
    background-size: 100% 100%;
    border: 1px;
    height: 4000px;
    margin: 12px 12px 12px 12px;
    box-shadow: 2px 2px 2px 2px #888888;
}

.yearbox {
    padding-bottom: 30px;
}

.publications {
    font-family: "Noto Sans";
    font-weight: normal;
    padding-right: 300px;
    padding-left: 200px;
    padding-top: 100px;
}

.publications h1 {
    font-size: 30px;
    margin-bottom: 0px;
}

/* ------------YEAR------------- */
.publications h2 {
    font-size: 30px;
}

/* ---------ARTICLE TITLE------------- */
.publications h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* ---------ARTICLE AUTHORS------------- */
.publications p {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* ---------ARTICLE JOURNAL------------- */
.publications p1 {
    font-size: 15px;
    color: #8B8B8B;
    margin-bottom: 0px;
}

/* ---------ARTICLE IMAGES------------- */
.publications img {
    max-width: 500px;
    max-height: 100px;
    padding-top: 10px;
    padding-left: 0;
}

.publication {
    margin-bottom: 50px;
}

/* ---------ARTICLE JOURNAL------------- */
.button {
    word-wrap: break-word;
    border: 1px solid black;
    color: #A279FF;
    border-color: #A279FF;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background-color: #A279FF;
    color: white;
}

.button a:hover {
    color: white;
}